.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  cursor:pointer;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 40%;
}
.rotate{
  animation: rotate 0.5s 1;
}
@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}
h2{
  font-family: 'Lobster',cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}
footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
